@{
    ViewData["Title"] = "Farm Overview";
}
<h1>@ViewData["Title"]

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
</h1>

<p>Use the map to navigate differnt fields on the farm.

    <div id='map' style='width: 800px; height: 400px;'></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiY29ubm9yc3VsbGl2YW45OSIsImEiOiJjbGV6bXZod2owMHN1M3lzOGJzemM1NHFjIn0.flK6NwK7h8YotDh45Zoi2w';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/satellite-streets-v12',
            center: [1.42504, 52.74686],
            zoom:14
        });

        map.on('load', () => {
            // Add a data source containing GeoJSON data.
            map.addSource('Fields', {
                'type': 'geojson','data': 
                {'type': 'Feature', 'properties':{ 'name': 'Field0'},
                    'geometry': {
                        'type': 'Polygon',
                        // These coordinates outline the field.
                        'coordinates': [
                            [
                                [
                                    1.4228599155649704,
                                    52.75040354816116
                                ],
                                [
                                    1.4241288089581587,
                                    52.74904467559665
                                ],
                                [
                                    1.4265364528330622,
                                    52.74947794391494
                                ],
                                [
                                    1.4256417203114324,
                                    52.75102388893703
                                ],
                                [
                                    1.4228599155649704,
                                    52.75040354816116
                                ]
                            ]
                        ]
                    }
                  
                },
            
                {'type': 'Feature', 'properties': { 'name': 'Field1' },
                'geometry': {
                    'type': 'Polygon',
                   "coordinates": [
                        
                            [
                                [
                                   -358.5546026,
                                    52.7654479
                                ],
                                [
                                    -358.548809,
                                    52.7668501
                                ],
                                [
                                    -358.5475645,
                                    52.7655518
                                ],
                                [
                                    -358.5472212,
                                    52.7641495
                                ],
                                [
                                    -358.5470495,
                                    52.7616046
                                ],
                                [
                                    -358.5522423,
                                    52.7607736
                                ],
                                [
                                    -358.5542593,
                                    52.7619422
                                ],
                                [
                                    -358.5546455,
                                    52.7654479
                                ]
                            ]
                        ]
                   }
                }
                    
                    
                 
             
            
              
                    
            });

            // Add a new layer to visualize the polygon.
            map.addLayer({
                'id': 'Fields',
                'type': 'fill',
                'source': 'Fields', // reference the data source
                'layout': {},
                'paint': {
                    'fill-color': '#0080ff', // blue color fill
                    'fill-opacity': 0.5
                }
            });
            // Add a black outline around the polygon.
            map.addLayer({
                'id': 'outline',
                'type': 'line',
                'source': 'Fields',
                'layout': {},
                'paint': {
                    'line-color': '#000',
                    'line-width': 3
                }
            });
        });

        // When a click event occurs on a feature in the states layer,
        // open a popup at the location of the click, with description
        // HTML from the click event's properties.
        map.on('click', 'Fields', (e) => {
            new mapboxgl.Popup()
                .setLngLat(e.lngLat)
                .setHTML('hello')
                .addTo(map);
        });
        //e.features[0].properties.name

        // Change the cursor to a pointer when
        // the mouse is over the states layer.
        map.on('mouseenter', 'Fields', () => {
            map.getCanvas().style.cursor = 'pointer';
        });

        // Change the cursor back to a pointer
        // when it leaves the states layer.
        map.on('mouseleave', 'Fields', () => {
            map.getCanvas().style.cursor = '';
        });


    </script>


</p>

