@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@model TSE.Models.AssignStaff

<h4>@Localizer["AssignStaff"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Assign">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="StaffName" class="control-label"></label>
                <input asp-for="StaffName" class="form-control" />
                <span asp-validation-for="StaffName" class="text-danger"></span>
            </div>
            <p> </p>
            <div class="form-group">
                <label asp-for="FieldNo" class="control-label"></label>
                <label for="fieldNo"></label>

                <select name="fieldNo" id="fieldNo">
                    <option value="not assigned to field">li class="nav-link">
                            <partial name="_Culture" />@Localizer["not assigned"]</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                </select>

            </div>
            <p> </p>

            <div class="form-group">
                <input type="submit" value="Assign" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="index">@Localizer["Back to List"]</a>
</div>

