@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1"
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<!-- Fontawesome CSS -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="/css/style.css">    
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Farm Managment site</h1>
                <p>This is an application developed by TSE group 8.</p>
			</div>

            <div class="col-sm-12">
				<h2>How to view the farm overview page?</h2>
				<p>In order to view the main farm overview page and farm map you first need to register and login as a user to acces this. Thank you. </p>
			</div>

            <div class="col-sm-12">
                <h2>About us</h2>
                <p> We are team software group 8 and this is our farm managment project. The purpose of this is to assign staff members to feild around the given farm. </p>
                
            </div>

            <div class="col-sm-12">
                <h2>Latest Updates!</h2>
                <p>We are constantly updating our appliation to provide better userbility and accesibility for our users. Please see what we have added and changed below. </p>
                
            </div>
        </div>
    </div>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>

