@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!--displays the title of the page-->
    <h1 class="display-4">Farm Management System</h1>

    <!--adds a link to the login page-->
    <a href="https://localhost:7143/login">Click here to login</a>
    
</div>
