@{
    ViewData["Title"] = "Farm Overview";
}
<h1>
    @ViewData["Title"]

    <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
</h1>

<p>
    Use the map to navigate differnt fields on the farm.

    <div id='map' style='width: 800px; height: 400px;'></div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiY29ubm9yc3VsbGl2YW45OSIsImEiOiJjbGV6bXZod2owMHN1M3lzOGJzemM1NHFjIn0.flK6NwK7h8YotDh45Zoi2w';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/satellite-streets-v12',
            center: [1.4249423959483067, 52.75091887317191 ],
            zoom: 14
        });

        map.on('load', () => {
            map.addSource('Fields', 
                {'type': 'geojson', 
                'data':{
                    'type': 'Feature', 
                    'geometry': {
                        'type': 'MultiPolygon',
                        'coordinates': [
                            [
                                [
                                    {'properties'{'name':'Feild0'}}
                                    [ 1.4223303461695025, 52.74753461012651 ],
                                    [ 1.4236292660823437, 52.74769561169444 ],
                                    [ 1.4239819920766195, 52.746634721950585 ],
                                    [ 1.4227742590014714, 52.7465064043393 ],
                                    [ 1.4225968807940035, 52.746891535348766 ],
                                    [ 1.4224547359033863, 52.74687012515275 ],
                                    [ 1.4222414067017155, 52.74752388000471 ]
                                ]

                            ], 
                            [
                                [
                                    [1.4220405002492669, 52.7486746900241],
                                    [ 1.4234246317135728, 52.74885275260351 ],
                                    [ 1.423658982544623, 52.74810932616873 ],
                                    [ 1.4234928550314692, 52.74810932616873 ],
                                    [ 1.4236314725603734, 52.747752825079516 ],
                                    [ 1.4222693675820324, 52.747580524039535 ],
                                    [ 1.4219594022694935, 52.74835839075766 ],
                                    [ 1.4221250388357305, 52.74839544773121 ],
                                    [1.4220405002492669, 52.7486746900241]
                                ]
                            ],
                            [
                                [
                                    [ 1.4216752818735472, 52.74980731229235 ],
                                    [ 1.4220570830161137, 52.748738882225865 ],
                                    [ 1.4234731109798417, 52.748912840659926 ],
                                    [ 1.4232849377338255, 52.74933334351101 ],
                                    [ 1.423159463042225, 52.749317939751734 ],
                                    [ 1.4230828653432468, 52.74951110499444 ],
                                    [ 1.4229569057489755, 52.74951110499444 ],
                                    [ 1.4228918912952508,  52.74971343238545 ],
                                    [ 1.4227149050383332, 52.74971343238545 ],
                                    [ 1.4226361940088736, 52.749909373029084 ],
                                    [ 1.4216752818735472, 52.74980731229235 ]
                                ]
                            ],
                            [
                                [
                                    [ 1.4228599155649704, 52.75040354816116 ],
                                    [ 1.4241288089581587, 52.74904467559665 ],
                                    [ 1.4265364528330622, 52.74947794391494 ],
                                    [ 1.4256417203114324, 52.75102388893703 ],
                                    [ 1.4228599155649704, 52.75040354816116 ]
                                ]
                            ],
                            [
                                [
                                    [ 1.4257890936161175, 52.75120092457769 ],
                                    [ 1.4279866141135926, 52.75163561597671 ],
                                    [ 1.4285769983907528, 52.75059405877491 ],
                                    [ 1.4282312728659292, 52.75054357600081 ],
                                    [ 1.428302268365826, 52.75046427365342 ],
                                    [ 1.4278612189358455, 52.75036339237289 ],
                                    [ 1.427967464352264, 52.75018338354087 ],
                                    [ 1.4278364817223235, 52.750161794215614 ],
                                    [ 1.427871498425901, 52.75001792957778 ],
                                    [ 1.4273717456618442, 52.74994603910082 ],
                                    [ 1.4274665611462751, 52.74985980732001 ],
                                    [ 1.42735944954552, 52.749823889250365 ],
                                    [ 1.427418334458622, 52.74966593242033 ],
                                    [ 1.4273350451065312, 52.74963005191822 ],
                                    [ 1.4273821067300787, 52.74949376938321 ],
                                    [ 1.4272751760823894, 52.749479429686915 ],
                                    [ 1.426823668265257, 52.749357587102566 ],
                                    [ 1.4257771483787565, 52.75121539794026 ]
                                ]
                            ],
                            [
                                [
                                    [ 1.4221933904217963, 52.7512982901558 ],
                                    [ 1.4226149930577492, 52.75055305600111 ],
                                    [ 1.4254729047208343, 52.75109982429211 ],
                                    [ 1.4250297874269222, 52.75187094939099 ],
                                    [ 1.4221933904217963, 52.7512982901558 ]
                                ]
                            ],
                            [
                                [
                                    [ 1.4219013132487817, 52.75214192927777 ],
                                    [ 1.4222849728878941, 52.75138567616162 ],
                                    [ 1.4249905924616257, 52.75193467714047 ],
                                    [ 1.4245719437082869, 52.75269296211226 ],
                                    [ 1.4219013132487817, 52.75214192927777]
                                ]
                            ],
                            [
                                [
                                        [ 1.4249537517752628, 52.752684965553925 ],
                                        [ 1.425683793625069, 52.7512982901558 ],
                                        [ 1.428037504435963, 52.75174355332351 ],
                                        [ 1.4278575548337358, 52.752118004873665 ],
                                        [ 1.427949850591574, 52.75214192927777 ],
                                        [ 1.4273942215169484, 52.75318134181805 ],
                                        [ 1.4249537517752628, 52.752684965553925 ]
                                ]
                            ],
                            [
                                [
                                        [1.422779754147058, 52.753502221937595 ],
                                        [1.4232422267488403, 52.75252509976741 ],
                                        [1.424519429258737, 52.7527569457921 ],
                                        [1.4239937484641985, 52.75373517341586 ],
                                        [1.422779754147058, 52.753502221937595 ]
                                ]
                            ]
                        ]
                    }
                }
            });


            // Add a new layer to visualize the polygon.
            map.addLayer({
                'id': 'Fields',
                'type': 'fill',
                'source': 'Fields', // reference the data source
                'layout': {},
                'paint': {
                    'fill-color': '#0080ff', // blue color fill
                    'fill-opacity': 0.5
                }
            });
            // Add a black outline around the polygon.
            map.addLayer({
                'id': 'outline',
                'type': 'line',
                'source': 'Fields',
                'layout': {},
                'paint': {
                    'line-color': '#000',
                    'line-width': 2
                }
            });
       
    
            // When a click event occurs on a feature in the states layer,
            // open a popup at the location of the click, with description
            // HTML from the click event's properties.
            map.on('click', 'Fields', (e) => {
                new mapboxgl.Popup()
                    .setLngLat(e.lngLat)
                    .setHTML('Fields')
                    .addTo(map);
            });

            //e.features[0].properties.name
            // Change the cursor to a pointer when
            // the mouse is over the states layer.
            map.on('mouseenter', 'Fields', () => {
                map.getCanvas().style.cursor = 'pointer';
            });

            // Change the cursor back to a pointer
            // when it leaves the states layer.
            map.on('mouseleave', 'Fields', () => {
                map.getCanvas().style.cursor = '';
            });
        });

    </script>


</p>

