@model TSE.Models.UserModel

<div>
    <!--Registration successful page-->
    <h4>Registration succsesful</h4>
    <p1>Please now login to access the farm management system.</p1>
    
</div>
<div>
    <!--allows the user to go back to the login page-->
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-controller="Login" asp-action="Index">Back to login</a>
</div>